@model PanesModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-dark text-white" style="padding-bottom: 300px">
    <div class="card-header">
        Eliminar Pan
    </div>
    <div class="card bg-dark text-white">
        <form asp-action="Eliminar" asp-controller="Panes" method="post">
            <input asp-for="idPanes" type="hidden" class="form-control">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                ¿Deseas eliminar al pan: @Html.DisplayTextFor(mp => mp.nombreP)?
            </div>
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i>Eliminar</button>
            <a asp-action="Listar" asp-controller="Panes" class="btn btn-warning"><i class="bi bi-arrow-left"></i>Volver a la lista</a>
        </form>
    </div>
</div>